* {
    padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;

}






.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 70px;
    position: fixed;
    z-index: 999;
    background: rgba(25, 22, 22, 60%);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.logo1 a {
    text-decoration: none;
    color: white;
    font-size: 34px;
    margin-left: 20px;
    font-weight: 500;
}

.ulnav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

}

.ulnav a {
    color: white;
    text-decoration: none;
    list-style: none;
    padding: 0 15px;
    font-size: 19px;
    font-weight: 500;
}

.social-media {
    margin-right: 20px;
}

.social-media a {
    color: white;
    padding: 0 5px;
    font-size: 20px;

}

.navigation .bar{
    display: none;
    color: white;
    font-size: 25px ;
    margin-right:20px ;
}

.navigation a:hover{
    color: #115cfa;
}



/* phone */

.canvasmy{
    background: rgba(168, 146, 146, 0.6);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(10.5px);
}

.accor{
    background: rgba(244, 235, 235, 0.6);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(10.5px);
}

.head{
    background: transparent ;
    -webkit-backdrop-filter: blur(10.5px);
}

.acr{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.talk{
    margin: 40px 0;
}

.addres{
    margin:0 0 40px 0;
}

.addres a{
    font-size:25px ;
    margin-right: 10px;
}




/* section2 */

.section2{
    box-sizing: border-box;
}

.section2 img{
    height: 710px;
}

.section2 .part h1 {
    font-size: 61px;
    font-weight: 700;
    color: black;
    animation: animate 2s ;
}

@keyframes animate{
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
}



.section2 .part1 h1 {
    font-size: 61px;
    font-weight: 700;
    color: white;
    animation: animate 2s ;
}



.section2 .btn1 {
    background-color: #115cfa;
    padding: 12px 24px;
    margin-top: 40px;
    color: #f8f9fa;
    font-weight: 700;
    border-radius: 30px;
    border: none;
    border: 1px solid rgba(21, 66, 227, 0.2);
    box-sizing: border-box;
    transition-duration: 1s;
    animation: animate 2s ;
}

.section2 .btn1:hover{
    background-color:whitesmoke;
    color: black;
    border: 1px solid rgb(18, 16, 16, 0.2);
}


/* section3 */





.section3 .part1 {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 129px 0;
}

.h2all {
    font-size: 47px;
    font-weight: 700;

}

.pall {
    font-size: 20px;
}

.navigation2 {
    display: flex;
    justify-content: center;
    padding: 20px 0
}

.ulnav2 {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.ulnav2 a {
    list-style: none;
    text-decoration: none;
    color: rgb(31, 28, 28);
    padding: 0 15px;
    font-size: 15px;
    font-weight: 500;
}

.ulnav2 a:hover{
    color: #115cfa;
}

/* .section3 part2 */

.section3 .part2 {
    box-sizing: border-box;
}

.rowclass {
    padding: 0;
    margin: 0;
}

.section3 .partone {
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.section3 h3 {
    color: white;
}



.section3 .img1 {
    height: 400px;
    background-image: url(https://d3f86pfw66amx.cloudfront.net/uncode/wp-content/uploads/2021/04/brando-makes-branding-EYfoo_gQeRg-unsplash-uai-720x540.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    position: relative;

}


.bgcolor {
    background-color: rgb(18, 16, 16, 0.0);
    height: 400px;
    position: absolute;
    opacity: 0;


}

.partone .img1 h3 {
    opacity: 0;
}

.section3 .img1 h3 {
    opacity: 0;
}

.partone:hover .img1 {
    scale: 1.09;

    .bgcolor {
        opacity: 0.5;
        background-color: rgb(18, 16, 16, 0.1);
    }

    h3 {
        opacity: 1;
    }
}




.section3 .img2 {
    height: 400px;
    background-image: url(https://d3f86pfw66amx.cloudfront.net/uncode/wp-content/uploads/2021/04/pexels-john-mor-3410386-uai-720x540.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    position: relative;

}


.bgcolor2 {
    background-color: rgb(18, 16, 16, 0.0);
    height: 400px;
    position: absolute;
    opacity: 0;
}

.partone .img2 h3 {
    opacity: 0;
}

.section3 .img2 h3 {
    opacity: 0;
}

.partone:hover .img2 {
    scale: 1.09;

    .bgcolor2 {
        opacity: 0.5;
        background-color: rgb(18, 16, 16, 0.3);
    }

    h3 {
        opacity: 1;
    }
}

.section3 .img3 {
    height: 400px;
    background-image: url(https://d3f86pfw66amx.cloudfront.net/uncode/wp-content/uploads/2017/08/custom-demo-image-imani-clovis-234736-b-min-uai-1920x1440.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    position: relative;
}

.bgcolor3 {
    background-color: rgb(18, 16, 16, 0.0);
    height: 400px;
    position: absolute;
    opacity: 0;
}

.partone .img3 h3 {
    opacity: 0;
}

.section3 .img3 h3 {
    opacity: 0;
}

.partone:hover .img3 {
    scale: 1.09;

    .bgcolor3 {
        opacity: 0.5;
        background-color: rgb(18, 16, 16, 0.2);
    }

    h3 {
        opacity: 1;
    }
}


.section3 .img4 {
    height: 400px;
    background-image: url(https://d3f86pfw66amx.cloudfront.net/uncode/wp-content/uploads/2021/04/tom-morbey-QJz32ZuCArg-unsplash-uai-1600x1200.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    position: relative;
}

.bgcolor4 {
    background-color: rgb(18, 16, 16, 0.0);
    height: 400px;
    position: absolute;
    opacity: 0;
}

.partone .img4 h3 {
    opacity: 0;
}

.section3 .img4 h3 {
    opacity: 0;
}

.partone:hover .img4 {
    scale: 1.09;

    .bgcolor4 {
        opacity: 0.5;
        background-color: rgb(18, 16, 16, 0.2);
    }

    h3 {
        opacity: 1;
    }
}

.section3 .img5 {
    height: 400px;
    background-image: url(https://d3f86pfw66amx.cloudfront.net/uncode/wp-content/uploads/2021/04/glenn-claire-DuNXXPScbJM-unsplash-uai-2880x2160.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    position: relative;
}

.bgcolor5 {
    background-color: rgb(18, 16, 16, 0.0);
    height: 400px;
    position: absolute;
    opacity: 0;
}

.partone .img5 h3 {
    opacity: 0;
}

.section3 .img5 h3 {
    opacity: 0;
}

.partone:hover .img5 {
    scale: 1.09;

    .bgcolor5 {
        opacity: 0.5;
        background-color: rgb(18, 16, 16, 0.3);
    }

    h3 {
        opacity: 1;
    }
}


.section3 .img6 {
    height: 400px;
    background-image: url(https://d3f86pfw66amx.cloudfront.net/uncode/wp-content/uploads/2014/12/portfolio-001-MacBook-Silver-11-uai-2773x2080.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    position: relative;
}

.bgcolor6 {
    background-color: rgb(18, 16, 16, 0.0);
    height: 400px;
    position: absolute;
    opacity: 0;
}

.partone .img6 h3 {
    opacity: 0;
}

.section3 .img6 h3 {
    opacity: 0;
}

.partone:hover .img6 {
    scale: 1.09;

    .bgcolor6 {
        opacity: 0.5;
        background-color: rgb(18, 16, 16, 0.3);
    }

    h3 {
        opacity: 1;
    }
}

/* .section4 */

.section4{
   background-color: black;
   padding: 140px 0;
    
    
}

.section4 .part1{
    margin-bottom: 50px;
}
.section4 .part2{
    margin-bottom: 50px;
}



.section4 .social1{
    height: 70px;
}

/* .section5/6 */



.section6{
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 300px 0 100px 0;

   
    

}

.section5{
    box-sizing: border-box;
    display: flex;
    
   
}

.branding{
    box-sizing: border-box;
    height: 200px;
    padding: 0;
    margin: 0;
}


.section5 .branding1    {
    height: 200px;
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}

.section5 .branding2    {
    height: 200px;
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}

.branding1 i{
   padding-top: 17px;
   font-size:40px;
   color: #115cfa;
}

.branding2 h4{
    padding: 18px 0px 15px 5px;
}

.branding2 p{
    padding: 0px 19px;
    color: rgb(61, 58, 58);
    font-weight: 100;

}


                   /* .section6 part2 */

                   
.section6 .part2{

    box-sizing: border-box;
    background-color: #115cfa;
    color: white;
    padding: 24px 24px;
    top: -200px;
    border-radius: 10px;
   margin: 0 40px;
    margin-top: 100px;
    position: absolute;
     
 }

 .section6 .part2 p{
    margin: 0;
 }


.section6 .pic1 .img{
    height: 150px ;
    width: 150px;
    background-image: url(https://d3f86pfw66amx.cloudfront.net/uncode/wp-content/uploads/2021/05/usman-yousaf-xYzEQptq7XU-unsplash-150x150.webp);
    background-size: cover;
    border-radius: 50%;
    background-position: center;
    box-sizing: border-box;
}

.section6 .part2 h5{
  font-weight: 500;
  word-spacing: 3px;
  line-height: 36px;
  margin: 0;
}

.section6 .pic1{
    display: flex;
    flex-direction: column;
   align-items: center;

}

.section6 .write1{
    padding: 50px;
}


/* .section7 */


.section7 {
  
    height: 550px;
    position: relative;
    overflow: hidden;
}

.section7 img{
    transition: all 1s;
}

.section7:hover img{
    transform: scale(1.2);
}

.box1{
 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    transition-duration: 0.5s ;
   

    
}

.circle1{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.circle2{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    box-sizing: border-box;
}

.section7 .circle:hover{
    transform: scale(1.2);

   
}
 
              /* section8 */


.section8{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;

}

 .section8 .part1{
    text-align: center;
    padding: 150px 0;
}

.section8 .part2{
    display: flex;
    justify-content: space-between;
    
}

.section8 .part2 .news{

    padding: 0;
    display: flex;
    justify-content: center;

}

.section8 .part2 .news1{
    box-sizing: border-box;
}

.section8 .news1 .img{
    height: 300px;
    overflow: hidden;
 
    
}

.section8 img{
    transition: all 1s;
}

.section8 .img:hover img{
    scale: 1.1;
}

 .section8 .part2 .write{
    padding: 30px 20px;
}

.profilebox{
    display: flex;
    margin-top: 40px;
}

.profileimg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(./source/jenifer.jpg);
    background-size: cover;
    margin-right: 10px;
}

.pwrite{
    padding: 0;
}

.profileimg2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(./source/william.jpg);
    background-size: cover;
    margin-right: 10px;
}

.section8 h5,p{
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.section8 h4{
    font-size: 18px
}
.profileimg3{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(./source/tim.jpg);
    background-size: cover;
    margin-right: 10px;
}

/* .section9 */

.section9a{
    padding: 0;
    background-color: whitesmoke;
}

.section9{
    display: flex;
    justify-content: center;
    padding: 0;
    display: none;
    border: 1px solid rgb(18, 16, 16, 0.3);
   
    
}
.carasol2{
    display: none;
    margin: 0 20px;
    background-color: whitesmoke;
}


.section9  .img{
    height: 300px;
    overflow: hidden;
 
    
}

.section9 img{
    transition: all 1s;
}

.section9 .img:hover img{
    scale: 1.1;
}

 .section9 .write{
    padding: 30px 20px;
    background-color: white;
}

.section9 h5,p{
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.section9 h4{
    font-size: 18px
}

.sec89{
    padding: 0;
    display: flex;
    justify-content: center;
   padding: 50px 0;
   box-sizing: border-box;
    
    border: 1px solid rgba(21, 66, 227, 0.2);
    
}

.btn2{
    background-color: #58799a;
    padding: 12px 24px;
    margin-top: 40px;
    color: #f8f9fa;
    font-weight: 700;
    border-radius: 30px;
    border: none;
    transition: all 0.8s;

}

.btn2:hover{
    background-color: white;
    color: black;
    border: 1px solid rgb(18, 16, 16, 0.2);
}

/* scroll */


.main-ani{
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 150px;
   
    
}

.logo-main{
    animation: scrol 10s linear infinite;
    display: flex;
    
    
}




@keyframes scrol{
    
    from{
        transform: translateX(0%);
    }

    to{
        transform: translateX(-100%);
    }
}





/* .contact */




.section11{
    padding: 100px 0;
    color: white    ;
    background-color: black;
}

.section11 ul{
    padding: 0;
}

.section11 li{
    list-style: none;
    padding: 0;
}

.section11 a{
    color: white;
    text-decoration: none;
}

.section11 a:hover{
    color: #115cfa;
}

.section11 .social2 a{
    margin-right: 8px;
    font-size: 25px;
}



.section11 .contact{
    margin: 25px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section11 h2{
    font-size: 35px;
    color: rgb(58, 48, 48);
}









   
